<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Teacher Dashboard - JoMama University</title>
  </head>
  <body>
    <h1>Teacher Dashboard</h1>
    <a href="{{ url_for('logout') }}">Logout</a>

    <h2>My Classes</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add the "onclick" attribute to the table row element -->
        {% for class in classes %}
        <tr>
          <td>{{ class.id }}</td>
          <td
            onclick="{{ '{{' }}fetchStudentsAndGrades({{ class.id }}){{ '}}' }}"
          >
            {{ class.name }}
          </td>
          <td>{{ class.capacity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Students and Grades</h2>

    <table id="studentsTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <!-- The table will be populated using JavaScript -->
      </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
